  <!-- =========================== PAGE HEADER BEGIN =========================== -->
    <section class="margin-bottom50 darkarea">
        <div class="pagecover" style="background-image:url('/assets/img/defaultbg.jpg')">
            <div class="container">
                <div class="entrycover short">
                    <h1 class="maintitle">Portfolio</h1>
                    <nav class="breadcrumbs"><span><a routerLink="/">Home</a></span> <span class="sep">/</span> <span>Portfolio</span></nav><!-- .breadcrumbs -->		</div>
            </div>
        </div>
    </section>
    <!-- =========================== PAGE HEADER END =========================== -->
<section>
<div class="container">

    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <h1> More About Our Products Will Be Updated Soon </h1>
        </div>
    </div>
</div>
</section>

