<!-- =========================== SLIDER BEGIN =========================== -->
<section class="margin-bottom50 ">
  <div class="customtypewowslider fullwidth flexslider clearfix cayman-slider " style="max-height:500px;">
    <ul class="slides slider-content-style1 ">
      <li style="background-color:#000000;">
        <img src="/assets/image/transport.png" alt="" style="opacity:0.7;">
        <div class="flex-caption " style="top:0%;">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <h2 class="wow none" data-wow-duration="1.0s" data-wow-delay="0.1s">
                  Quality that honors architectural vision </h2>
                <h1 class="wow fadeInUp" data-wow-duration="1.0s" data-wow-delay="0.6s">
                  <span class="accentcolor">Transport &amp; Hire</span>
                  <br/> Of Plant &amp; Machinery</h1>
                <a routerLink="/contact" class="btn btn-ghost wow none"> Free Quote </a>

                <a routerLink="/service" class="btn btn-primary wow none"> Learn More </a>

              </div>
            </div>
          </div>
        </div>
      </li>
      <li style="background-color:#000000;">

        <img src="/assets/image/BuildingMaterials.png" alt="" style="opacity:0.7;">
        <div class="flex-caption" style="top:2%;">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <h2 class="wow none" data-wow-duration="1.0s" data-wow-delay="0.1s">
                  QUALITY THAT HONORS ARCHITECTURAL VISION </h2>
                <h1 class="wow fadeInUp" data-wow-duration="1.0s" data-wow-delay="0.6s">
                  <span class="accentcolor">Building</span>
                  <br/> Materials
                </h1>
                <a routerLink="/contact" class="btn btn-ghost wow none"> Free Quote </a>

                <a routerLink="/service" class="btn btn-primary wow none"> Learn More </a>

              </div>
            </div>
          </div>
        </div>
      </li>
      <li style="background-color:#000000;">

        <img src="/assets/image/realestateHome.png" alt="" style="opacity:0.7;">
        <div class="flex-caption" style="top:2%;">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <h2 class="wow none" data-wow-duration="1.0s" data-wow-delay="0.1s">
                  QUALITY THAT HONORS ARCHITECTURAL VISION </h2>
                <h1 class="wow fadeInUp" data-wow-duration="1.0s" data-wow-delay="0.6s">
                  <span class="accentcolor">Real </span>
                  <br/> Estate
                </h1>
                <a routerLink="/contact" class="btn btn-ghost wow none"> Free Quote </a>

                <!--#222546 / change with this #3949ab-->
                <a routerLink="/service" class="btn btn-primary wow none"> Learn More </a>

              </div>
            </div>
          </div>
        </div>
      </li>
      <li style="background-color:#000000;">
        <img src="/assets/image/general.png" alt="" style="opacity:0.7;">
        <div class="flex-caption" style="top:0%;">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <h2 class="wow none" data-wow-duration="1.0s" data-wow-delay="0.1s">
                  QUALITY THAT HONORS ARCHITECTURAL VISION </h2>
                <h1 class="wow fadeInUp" data-wow-duration="1.0s" data-wow-delay="0.6s">
                  <span class="accentcolor">General Building</span>
                  <br/> Construction &amp; Renovations</h1>
                <a routerLink="/contact" class="btn btn-ghost wow none"> Free Quote </a>

                <a routerLink="/service" class="btn btn-primary wow none"> Learn More </a>

              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
<!-- =========================== SLIDER END =========================== -->
<!-- =========================== ABOUT BEGIN =========================== -->
<section style="padding-bottom: 15px;">
  <div class="container">
    <div class="col-md-6">
      <div class="the-headline">
        <h1>About
          <span class="accentcolor">Us</span>
        </h1>
      </div>
      <div class="textwidget">
        <p>
          <strong>Lifestile builders ltd</strong> is a Kenyan incorporated company locally owned and registered with The National
          Construction Authority(NCA) and the Kenya Master Builders.The Company offers General Real Estate,Building Construction,
          Civil &amp; Road Construction Works and Transport/Supply of all building materials.
        </p>
        <p>
          Our area of expertise includes but is not limited to building technology,Civil and Structural Engineering. We work closely
          with other professionals in the built environment and clientele to accurately interpret their visions and dreams
          to bring them to fruition of their projects. We keep our clients informed throughout the construction period and
          ensure that the project keeps on schedule and within budget.
        </p>
      </div>
    </div>
    <div class="col-md-6 wow fadeInRight">
      <img alt="" src="/assets/image/construction.jpeg" class="so-widget-image" style="max-width:100%; height:auto; display:block; padding-top: 30px"
      />
    </div>
  </div>
</section>
<!-- =========================== ABOUT END =========================== -->
<!-- =========================== PORTFOLIO BEGIN =========================== -->
<section class="margin-bottom50 padding-top50 darkarea" style="background-color:#3949ab;">
  <div class="container">
    <div class="the-headline text-center ">
      <h1>Our Building &nbsp;
        <span class="accentcolor">Materials</span>
      </h1>
    </div>
    <div id="portfolio-filter" class="text-center">
      <ul class="portfolio-filter-list">
        <li>
          <a href="#" data-cat="*" class="active">All</a>
        </li>
        <li>
          <a href="#" data-cat=".9">blocks</a>
        </li>
        <li>
          <a href="#" data-cat=".11">tiles</a>
        </li>
        <li>
          <a href="#" data-cat=".10">posts</a>
        </li>
        <li>
          <a href="#" data-cat=".8">others</a>
        </li>
      </ul>
    </div>
  </div>
  <div id="portfolio-items" class="portfolio-items">
    <!--  data-cat of 9  -->
    <article class="9">
      <a routerLink="/services/cabro_blocks" class="portfolio-link">

        <img src="/assets/image/cabros_paving_blocks_cosmic.png" class="background-image" alt="Spanish Style">
        <div class="overlay">
          <i class="fa fa-link"></i>
          <h3>Cabros Paving Blocks Cosmic</h3>
        </div>
      </a>
    </article>
    <article class="9">
      <a routerLink="/services/cabro_blocks" class="portfolio-link">


        <img src="/assets/image/cabros_paving_blocks_hexagon.png" class="background-image" alt="Spanish Style">
        <div class="overlay">
          <i class="fa fa-link"></i>
          <h3>Cabros Paving Blocks Hexagon</h3>

        </div>
      </a>
    </article>
    <article class="9">
      <a routerLink="/services/cabro_blocks" class="portfolio-link">


        <img src="/assets/image/cabros_paving_blocks_shell.png" class="background-image" alt="Spanish Style">
        <div class="overlay">
          <i class="fa fa-link"></i>
          <h3>Cabros Paving Blocks Shell</h3>

        </div>
      </a>
    </article>
    <article class="9">
      <a routerLink="/services/cabro_blocks" class="portfolio-link">


        <img src="/assets/image/Cabrosblock(I-design).png" class="background-image" alt="Spanish Style">
        <div class="overlay">
          <i class="fa fa-link"></i>
          <h3>Cabros Block (I-design)</h3>

        </div>
      </a>
    </article>
    <article class="9">
      <a routerLink="/services/hollow_blocks" class="portfolio-link">

        <img src="/assets/image/hollow_block.png" class="background-image" alt="Spanish Style">
        <div class="overlay">
          <i class="fa fa-link"></i>
          <h3>Hollow Block</h3>

        </div>
      </a>
    </article>
    <article class="9">
      <a routerLink="/services/paving_blocks" class="portfolio-link">

        <img src="/assets/image/pavingblocks-cosmicplain.png" class="background-image" alt="Spanish Style">
        <div class="overlay">
          <i class="fa fa-link"></i>
          <h3>Paving Blocks - cosmic plain</h3>

        </div>
      </a>
    </article>
    <article class="9">
      <a routerLink="/services/solid_blocks" class="portfolio-link">

        <img src="/assets/image/solid_block_4inch.png" class="background-image" alt="Spanish Style">
        <div class="overlay">
          <i class="fa fa-link"></i>
          <h3>Solid Block 4 inch</h3>

        </div>
      </a>
    </article>
    <article class="9">
      <a routerLink="/services/solid_blocks" class="portfolio-link">

        <img src="/assets/image/solid_block_6inch.png" class="background-image" alt="Spanish Style">
        <div class="overlay">
          <i class="fa fa-link"></i>
          <h3>Solid Block 6 inch</h3>

        </div>
      </a>
    </article>

    <!-- data-cat of 10  -->
    <article class="10">
      <a routerLink="/services/kerra_boundary_posts" class="portfolio-link">

        <img src="/assets/image/KERRA_boundary_posts.png" class="background-image" alt="Spanish Style">
        <div class="overlay">
          <i class="fa fa-link"></i>
          <h3>KERRA Boundary posts</h3>

        </div>
      </a>
    </article>

    <article class="10">
      <a routerLink="/services/balustrades_balcony_posts" class="portfolio-link">

        <img src="/assets/image/balustrades_balcony_posts.png" class="background-image" alt="Spanish Style">
        <div class="overlay">
          <i class="fa fa-link"></i>
          <h3>Balustrades Balcony Posts</h3>

        </div>
      </a>
    </article>

    <!-- data-cat of 11  -->
    <article class="11">
      <a routerLink="/services/roofing_ridges" class="portfolio-link">

        <img src="/assets/image/roofing_tiles_colored.png" class="background-image" alt="Spanish Style">
        <div class="overlay">
          <i class="fa fa-link"></i>
          <h3>Roofing Tiles Colored</h3>

        </div>
      </a>
    </article>
    <article class="11">
      <a routerLink="/services/ceramic_floor_tiles" class="portfolio-link">

        <img src="/assets/image/Ceramicfloortilesstar.png" class="background-image" alt="Spanish Style">
        <div class="overlay">
          <i class="fa fa-link"></i>
          <h3>Ceramic Floor Tiles star</h3>

        </div>
      </a>
    </article>
    <article class="11">
      <a routerLink="/services/star_concrete_tiles" class="portfolio-link">

        <img src="/assets/image/starconcretefloortiles.png" class="background-image" alt="Spanish Style">
        <div class="overlay">
          <i class="fa fa-link"></i>
          <h3>Star Concrete Floor Tiles</h3>

        </div>
      </a>
    </article>

    <!-- data-cat of 8  -->
    <article class="8">
      <a routerLink="/services/shallow_drain" class="portfolio-link">

        <img src="/assets/image/big_shallow_drains.png" class="background-image" alt="Spanish Style">
        <div class="overlay">
          <i class="fa fa-link"></i>
          <h3>Big Shallow Drains</h3>

        </div>
      </a>
    </article>
    <article class="8">
      <a routerLink="/services/cabro_blocks" class="portfolio-link">

        <img src="/assets/image/cabroscosmicdesign.png" class="background-image" alt="Spanish Style">
        <div class="overlay">
          <i class="fa fa-link"></i>
          <h3>Cabros cosmic design</h3>

        </div>
      </a>
    </article>
    <article class="8">
      <a routerLink="/services/cabro_blocks" class="portfolio-link">

        <img src="/assets/image/cabrosy-design.png" class="background-image" alt="Spanish Style">
        <div class="overlay">
          <i class="fa fa-link"></i>
          <h3>Cabrosy design</h3>

        </div>
      </a>
    </article>
    <article class="9">
      <a routerLink="/services/column_coupings" class="portfolio-link">

        <img src="/assets/image/Column_coupings.png" class="background-image" alt="Spanish Style">
        <div class="overlay">
          <i class="fa fa-link"></i>
          <h3>Column Coupings</h3>

        </div>
      </a>
    </article>
    <article class="8">
      <a routerLink="/services/flower_vents" class="portfolio-link">

        <img src="/assets/image/flower_vents.png" class="background-image" alt="Spanish Style">
        <div class="overlay">
          <i class="fa fa-link"></i>
          <h3>Flower Vents</h3>

        </div>
      </a>
    </article>
    <article class="8">
      <a routerLink="/services/culverts" class="portfolio-link">

        <img src="/assets/image/full_culverts.png" class="background-image" alt="Spanish Style">
        <div class="overlay">
          <i class="fa fa-link"></i>
          <h3>Full Culverts</h3>

        </div>
      </a>
    </article>
    <article class="8">
      <a routerLink="/services/culverts" class="portfolio-link">


        <img src="/assets/image/half_culverts.png" class="background-image" alt="Spanish Style">
        <div class="overlay">
          <i class="fa fa-link"></i>
          <h3>Half Culverts</h3>

        </div>
      </a>
    </article>
    <article class="8">
      <a routerLink="/services/hatari_slabs" class="portfolio-link">

        <img src="/assets/image/hatari slabs.png" class="background-image" alt="Spanish Style">
        <div class="overlay">
          <i class="fa fa-link"></i>
          <h3>Hatari Slabs</h3>

        </div>
      </a>
    </article>
    <article class="8">
      <a routerLink="/services/ibd_drainages" class="portfolio-link">

        <img src="/assets/image/IBD_drainages.png" class="background-image" alt="Spanish Style">
        <div class="overlay">
          <i class="fa fa-link"></i>
          <h3>IBD Drainages</h3>

        </div>
      </a>
    </article>
    <article class="8">
      <a routerLink="/services/cabro_blocks" class="portfolio-link">

        <img src="/assets/image/layed_cabros.png" class="background-image" alt="Spanish Style">
        <div class="overlay">
          <i class="fa fa-link"></i>
          <h3>Layed Cabros</h3>

        </div>
      </a>
    </article>
    <article class="8">
      <a routerLink="/services/louver_vents" class="portfolio-link">

        <img src="/assets/image/Louver_vents.png" class="background-image" alt="Spanish Style">
        <div class="overlay">
          <i class="fa fa-link"></i>
          <h3>Louver Vents</h3>

        </div>
      </a>
    </article>
    <article class="8">
      <a routerLink="/services/paving_slabs" class="portfolio-link">

        <img src="/assets/image/paving_slabs.png" class="background-image" alt="Spanish Style">
        <div class="overlay">
          <i class="fa fa-link"></i>
          <h3>Paving Slabs</h3>

        </div>
      </a>
    </article>
    <article class="8">
      <a routerLink="/services/road_channels" class="portfolio-link">

        <img src="/assets/image/road channels.png" class="background-image" alt="Spanish Style">
        <div class="overlay">
          <i class="fa fa-link"></i>
          <h3>Road Channels</h3>
        </div>
      </a>
    </article>
    <article class="8">
      <a routerLink="/services/road_curbs" class="portfolio-link">

        <img src="/assets/image/road_curbs.png" class="background-image" alt="Spanish Style">
        <div class="overlay">
          <i class="fa fa-link"></i>
          <h3>Road Curbs</h3>

        </div>
      </a>
    </article>
    <article class="8">
      <a routerLink="/services/roofing_ridges" class="portfolio-link">

        <img src="/assets/image/roofing_ridges.png" class="background-image" alt="Spanish Style">
        <div class="overlay">
          <i class="fa fa-link"></i>
          <h3>Roofing Ridges</h3>

        </div>
      </a>
    </article>
    <article class="8">
      <a routerLink="/services/roofing_ridges" class="portfolio-link">


        <img src="/assets/image/roofing_ridges_r-110.png" class="background-image" alt="Spanish Style">
        <div class="overlay">
          <i class="fa fa-link"></i>
          <h3>Roofing Ridges R-110</h3>

        </div>
      </a>
    </article>
    <article class="8">
      <a routerLink="/services/shallow_drain" class="portfolio-link">

        <img src="/assets/image/shallow_drains.png" class="background-image" alt="Spanish Style">
        <div class="overlay">
          <i class="fa fa-link"></i>
          <h3>Shallow Drains</h3>

        </div>
      </a>
    </article>
    <article class="8">
      <a routerLink="/services/side_slabs" class="portfolio-link">

        <img src="/assets/image/side_slabs.png" class="background-image" alt="Spanish Style">
        <div class="overlay">
          <i class="fa fa-link"></i>
          <h3>Side Slabs</h3>

        </div>
      </a>
    </article>
    <article class="8">
      <a routerLink="/services/ibd_drainages" class="portfolio-link">

        <img src="/assets/image/small_IBD_drainages.png" class="background-image" alt="Spanish Style">
        <div class="overlay">
          <i class="fa fa-link"></i>
          <h3>Small IBD Drainages</h3>

        </div>
      </a>
    </article>
    <article class="8">
      <a routerLink="/servicess/terrazo_bench" class="portfolio-link">

        <img src="/assets/image/terrazobench.png" class="background-image" alt="Spanish Style">
        <div class="overlay">
          <i class="fa fa-link"></i>
          <h3>Terrazo Bench</h3>

        </div>
      </a>
    </article>
    <article class="8">
      <a routerLink="/services/ventilations" class="portfolio-link">

        <img src="/assets/image/ventilation.png" class="background-image" alt="Spanish Style">
        <div class="overlay">
          <i class="fa fa-link"></i>
          <h3>Ventilation</h3>

        </div>
      </a>
    </article>
    <article class="8">
      <a routerLink="/services/window_cills" class="portfolio-link">

        <img src="/assets/image/window_cills.png" class="background-image" alt="Spanish Style">
        <div class="overlay">
          <i class="fa fa-link"></i>
          <h3>Window Cills</h3>

        </div>
      </a>
    </article>
  </div>
</section>
<!-- =========================== PORTFOLIO END =========================== -->
<!-- =========================== SERVICES BEGIN =========================== -->
<section class="margin-bottom50">

  <div class="container">

    <div class="the-headline text-center">
      <h1>
        <span class="accentcolor">Our</span> Services</h1>
      <div class="decoration">
        <div class="decoration-inside">
        </div>
      </div>
      <div class="col-md-12">
        <section class="text-center" style="padding: 12px;">
          <div class="textwidget">
            <p>
              <a class="btn icon whiteicon btn-primary rightmargin" routerLink="/services">View Services
                <i class="fa fa-cogs"></i>
              </a>
              or
              <a class="btn left icon whiteicon btn-inverse leftmargin" routerLink="/contact">
                <i class="fa fa-envelope"></i>Get Free Quote</a>
            </p>
          </div>
        </section>
      </div>

    </div>

    <div class="sow-services-list">
      <div class="our-services service-icon-list">

        <div class="col-md-6 sow-services-service">
          <div class="content">
            <div class="row">
              <div class="col-md-3">
                <div class="type">
                  <span class="sow-icon-fontawesome">
                    <i class="fa fa-home"></i>
                  </span>
                </div>
              </div>
              <div class="col-md-9">
                <a href="#" title="">
                  <h3>Real Estate</h3>
                  <ul class="unstyle checklist">
                    <li>Leasing of Houses, Offices, Go Downs</li>
                    <li>Letting of Apartments</li>
                    <li>Morgages</li>
                  </ul>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 sow-services-service">
          <div class="content">
            <div class="row">
              <div class="col-md-3">
                <div class="type">
                  <span class="sow-icon-fontawesome">
                    <i class="fa fa-wrench"></i>
                  </span>
                </div>
              </div>
              <div class="col-md-9">
                <h3>General Civil Engineering Works</h3>
                <ul class="unstyle checklist">
                  <li>Construction Consulting</li>
                  <li>Project Management</li>
                  <li>Culvert And Drainage Work</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 sow-services-service">
          <div class="content">
            <div class="row">
              <div class="col-md-3">
                <div class="type">
                  <span class="sow-icon-fontawesome">
                    <i class="fa fa-truck"></i>
                  </span>
                </div>
              </div>
              <div class="col-md-9">
                <a href="#" title="">
                  <h3>Transport &amp; Services</h3>
                  <ul class="unstyle checklist">
                    <li>Tipper trucks</li>
                    <li>Concrete mixers</li>
                    <li>Scaffolds </li>
                    <li>Cranes</li>
                  </ul>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 sow-services-service">
          <div class="content">
            <div class="row">
              <div class="col-md-3">
                <div class="type">
                  <span class="sow-icon-fontawesome">
                    <i class="fa fa-cog"></i>
                  </span>
                </div>
              </div>
              <div class="col-md-9">
                <h3>Building Materials</h3>
                <ul class="unstyle checklist">
                  <li>paving slabs</li>
                  <li>road curbs</li>
                  <li>cabros blocks</li>
                  <li>louver vents</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

</section>
<!-- =========================== SERVICES END =========================== -->
<!-- =========================== COUNTER BEGIN =========================== -->
<section class="darkarea margin-bottom50 padding110" style="background-size:cover;background-image: url(https://s3.amazonaws.com/caymandemo/wp-content/uploads/sites/16/2016/07/05175951/counter.jpg); background-position: center center; background-repeat: no-repeat;">
  <div class="container">

    <div class="row">

      <div class="col-md-4">
        <div class="funfacts text-center">
          <div class="icon">
            <span class="sow-icon-fontawesome">
              <i class="fa fa-life-ring"></i>
            </span>
          </div>
          <h2 class="counter" style="">20</h2>
          <h4>Loyal Clients</h4>
        </div>
      </div>

      <div class="col-md-4">
        <div class="funfacts text-center">
          <div class="icon">
            <span class="sow-icon-fontawesome">
              <i class="fa fa-cube"></i>
            </span>
          </div>
          <h2 class="counter" style="">30</h2>
          <h4>Projects Completed</h4>
        </div>
      </div>

      <div class="col-md-4">
        <div class="funfacts text-center">
          <div class="icon">
            <span class="sow-icon-fontawesome">
              <i class="fa fa-globe"></i>
            </span>
          </div>
          <h2 class="counter" style="">50</h2>
          <h4>Auctions Won</h4>
        </div>
      </div>

    </div>

  </div>
</section>
<!-- =========================== COUNTER END =========================== -->
<!-- =========================== TESTIMONIALS BEGIN =========================== -->
<section class="margin-bottom50">
  <div class="the-headline text-center">
    <h1>
      <span class="accentcolor">Happy</span> Clients</h1>
    <div class="decoration">
      <div class="decoration-inside">
      </div>
    </div>
    <h3>JUST LISTEN TO WHAT OUR CLIENTS HAVE TO SAY</h3>
  </div>
  <div class="sow-testimonials">
    <div class="flexslider testimonials-wrapper text-center">
      <ul class="slides">
        <li>
          <div class="sow-round-image-frame imground" style="background-image: url(https://s3.amazonaws.com/caymandemo/wp-content/uploads/sites/16/2016/07/05180344/business-people-meeting-together-170x150.jpg); width:123px; height:123px">
          </div>
          <p>
            Good company that has the most incredible response time. They are professional, proficient, knowledgable and on top of their
            game.

          </p>
          <strong class="signature">- anonymous,
            <a>Eldoret, Kenya</a>
          </strong>
        </li>
        <li>
          <div class="sow-round-image-frame imground" style="background-image: url(https://s3.amazonaws.com/caymandemo/wp-content/uploads/sites/16/2016/07/05180344/business-people-meeting-together-170x150.jpg); width:123px; height:123px">
          </div>
          <p>
            I appreciate what you guys are doing! It's nice to not have to keep up with it all the time

          </p>
          <strong class="signature">- anonymous,
            <a>Eldoret, Kenya</a>
          </strong>
        </li>
      </ul>
    </div>
  </div>
</section>
